.divClass {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnClass {
    display: flex;
    background-color: rgb(105, 4, 4);
    color: white;
    border-radius: 25px;
    font: inherit;
    padding: 0.75rem 3rem;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

.txtClass {

    font-size: 16px;
}

.numberClass {
    margin-left: 10px;
    margin-top: 2px;
    padding: 0px 10px;
    border-radius: 30%;
    background-color: black;
    color: white;

}